---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ServbotLogo from "../assets/img/servbot-icon.png"

---
<nav class="flex justify-between items-center">
	<div class="image">
		<Image class:list={"h-10 w-10"} src={ServbotLogo} alt="servbot-logo"/>
	</div>
	<ul class="flex justify-between gap-16 h-8">
		<li class="hover:border-b-2">
			<a href="#home">
				Home
			</a>
		</li>
		<li class="hover:border-b-2">
			<a href="#about">
				About
			</a>
		</li>
		<li class="hover:border-b-2">
			<a href="#features">
				Features
			</a>
		</li>
		<li class="hover:border-b-2">
			<a href="#contact">
				Contact
			</a>
		</li>
	</ul>
	<Icon class="w-5 h-5" name="tabler:user" />
</nav>
